
h1 {
    padding-top: 30px;
}


p {
    color: rgb(156, 156, 156); 
}

.col-sm-12 { padding-left: 700px;

}

#Tennis {
    padding-top: 50px;
    padding-right: 120px; padding-left: 120px;
}

#Padel {
    padding-top: 50px;
    padding-right: 120px; padding-left: 120px;
}

.col-sm-6 {
    padding-left: 310px; padding-top: 10px;
}

.figure {
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}
#teksti1 {
    font-size: 300%; color: black;
    text-decoration: none; 
}
a:hover {
    transition: all 1.5s; color: red; font-size: 120%;
}


#teksti2 {
    font-size: 300%; color: black;
    text-decoration: none; 
}

footer {
    padding-top: 50px; text-align: center;
    

}

h3 {
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

img {
    width: 500px; height: 450px;
}

nav {
    padding-left: 15px;
}

#clockDisplay {
    font-family: arial;
    font-weight: bold;
    border: 0px solid;
    width: 340px;
    padding: 5px;
    text-align: center;
    border-radius: 35px;
    position: absolute; right: 10px;
    
}

body {
    background-color: rgb(214, 214, 214);
}


