h1 {
    padding-top: 60px; padding-left: 270px;
}

h4 { 
    padding-top: 80px; padding-left: 150px;

}

#espoo {
    padding-top: 40px; padding-left: 150px;
 }

 #muu {
    padding-top: 40px; padding-left: 150px;
}

.linkkilista ul li a {
    font-size: 120%; text-decoration: none;
    color: black;
   
}

.linkkilista ul li {
    padding-top: 20px;
}

#välineitä {
    padding-top: 60px; padding-left: 45px;
}

p {
    color: rgb(156, 156, 156);
}

h2 {
    font-size: 200%;
}

#muut {
    padding-top: 60px; padding-left: 150px;
}

footer {
    padding-top: 50px; text-align: center;
    

}

ul {
    list-style-type: none;
}

img {
    width: 450px; height: 300px;
}

#clockDisplay {
    font-family: arial;
    font-weight: bold;
    border: 0px solid;
    width: 340px;
    padding: 5px;
    text-align: center;
    border-radius: 35px;
    position: absolute; right: 10px;

}

nav {
    padding-left: 15px;
}

h3 {
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

body {
    background-color: rgb(214, 214, 214);
}

a:hover {
    transition: all 1.5s; color: red; font-size: 120%;
}