
.navbar-brand {
    padding-left: 15px;
}

textarea {
    width: 300px; height: 200px;
    resize: none;
}   
legend {
    font-size: 95%;
}

table, th, td {
    border: 1px solid black; padding: 5px;
    background-color: rgb(243, 243, 243);
    float: left; width: 30%;
    text-align: center;
   
    
}

img {
    width: 600px; height: 500px;
    float: right;
}

h4 {
    text-align: right; padding-top: 30px; padding-bottom: 15px;
    margin-right: 70px;
}



footer {
    padding-top: 50px; text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
}

#clockDisplay {
    font-family: arial;
    font-weight: bold;
    border: 0px solid;
    width: 340px;
    padding: 5px;
    text-align: center;
    border-radius: 35px;
    position: absolute; right: 10px;
    
}

body {
    background-color: rgb(214, 214, 214);
}
