h1 {
    padding-top: 60px; padding-left: 270px;
}

h4 { 
    padding-top: 80px; padding-left: 150px;

}

#sisä {
   padding-top: 18px; padding-left: 150px;
}

.linkkilista ul li a {
    font-size: 120%; text-decoration: none;
   
   
}

.linkkilista ul li {
    padding-top: 20px;
}

#massa {
    padding-top: 55px; padding-left: 150px;
}

#muu {
    padding-top: 55px; padding-left: 150px;
}

h6 {
    padding-top: 50px; padding-left: 100px;
}

#välineitä {
    padding-top: 40px; padding-left: 45px;
}

p {
    color: rgb(156, 156, 156);
}

h2 {
    font-size: 200%;
}
footer {
    padding-top: 50px; text-align: center;
    

}

ul {
    list-style-type: none;
}

.img123 {
    width: 400px; height: 300px;
}

.navbar-brand {
    padding-left: 15px;
}

a:hover {
    transition: all 1.5s; color: red; font-size: 120%;
}

img.custom:hover 

{
    opacity: 1.0;
}
img.custom:hover,
img.custom:focus 
{
    transition: 1.5s;
    transform: scale(1.25);
}

#clockDisplay {
    font-family: arial;
    font-weight: bold;
    border: 0px solid;
    width: 340px;
    padding: 5px;
    text-align: center;
    border-radius: 35px;
    position: absolute; right: 10px;
    
}

#opiskelija {
    width:250px; height:200px;
}

a {
    color: black;
    text-decoration: none;
    
}

#Kuva-opiskelija {
    padding-top: 40px;
}

#otsikko-opiskelija {
    padding-top: 60px; padding-left: 65px;
}

h6 {
    font-size: 150%; font-family: garamond, serif;
}

h3 {
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

body {
    background-color: rgb(214, 214, 214);
}

