h1 {
    padding-top: 60px; padding-left: 270px;
}

h4 { 
    padding-top: 100px; padding-left: 75px;

}

#sisä {
   padding-top: 18px; padding-left: 75px;
}

.linkkilista ul li a {
    font-size: 120%; text-decoration: none;
   
}

li {
    padding-top: 20px;
}

#massa {
    padding-top: 55px; padding-left: 75px;
}

#muu {
    padding-top: 55px; padding-left: 75px;
}

h6 {
    padding-top: 50px; padding-left: 30px;
}

#välineitä {
    padding-top: 40px;
}

p {
    color: rgb(187, 186, 187);
}

h2 {
    font-size: 200%;
}
footer {
    padding-top: 40px; text-align: center;
    color: rgb(148, 148, 148);

}

ul {
    list-style-type: none;
}

.img123 {
    width: 400px; height: 300px;
}

nav {
    padding-left: 15px;
}

a:hover {
    transition: all 1.5s; color: red; font-size: 120%;
}

#clockDisplay {
    font-family: arial;
    font-weight: bold;
    border: 1px solid;
    width: 340px;
    padding: 5px;
    text-align: center;
    border-radius: 35px;
    position: absolute; right: 10px;
    
}

#opiskelija {
    width:250px; height:200px;
}

a {
    color: black;
    text-decoration: none;
    
}

#Kuva-opiskelija {
    padding-top: 40px;
}

#otsikko-opiskelija {
    padding-top: 60px; padding-left: 50px;
}

h6 {
    font-size: 150%; font-family: garamond, serif;
}

