
.navbar-brand {
    padding-left: 15px;
}

h1 {
    padding-top: 60px; padding-left: 150px;
}

.otsikko1 {
    padding-left: 50px; padding-top: 30px;
    color: rgb(82, 82, 82);
}

h4 {
    padding-top: 40px; padding-left: 35px;
}

.img123 {
    width: 450px; height: 300px;
}


.linkkilista ul li a {
    font-size: 130%; text-decoration: none;
    color: black;
   
   
}

.linkkilista ul li {
    padding-top: 20px;
}

ul {
    list-style: none;
}

#muu {
    padding-top: 55px; padding-left: 35px;
}

#muut {
    padding-top: 55px; padding-left: 35px;
}

.linkkilista ul li a:hover {
    transition: all 1s; color: red;
}

.tärkeintä h5 {
    padding-left: 35px; padding-top: 100px;
}

.pelitaidot h5 {
    padding-left: 40px; padding-top: 100px;
}

.kuvia {
    padding-left: 50px; padding-top: 20px;
}

.kuva1 {
    width: 500px; height: 400px;
    
}

.kuva2 {
    width: 500px; height: 400px;
}


footer {
    padding-top: 50px; text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
}

#clockDisplay {
    font-family: arial;
    font-weight: bold;
    border: 0px solid;
    width: 340px;
    padding: 5px;
    text-align: center;
    border-radius: 35px;
    position: absolute; right: 10px;
    
}

body {
    background-color: rgb(214, 214, 214);
}
